@model System.Collections.Generic.List<Web.Models.DataAccessPostgreSqlProvider.DBAdaptive_educational_application>
@{
    ViewBag.Title = "Список пожеланий от пользователей";
    Layout = "_Layout";
}
<h2>@ViewBag.Title</h2>
@foreach (var application in Model)
{
<div>
    @application.UserName
    @application.User_Picture

    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <td>Предметная область</td>
                <td>Пожелания</td>
                <td>На что сделать ссылку</td>
                <td>Что добавить в приложение</td>
            </tr>
        </thead>
        @if (application.Journal != null)
        {
            foreach (var sm in application.Journal)
            {
                <tr>
                    @*<td><img src="Image?id=@sm.Id" /></td>*@
                    <td>@sm.Subject_Area</td>
                    <td>@sm.Wishes</td>
                    <td>@sm.Proposed_link</td>
                    <td>@sm.Add_to_application</td>
                </tr>
            }
        }
    </table>
</div>
}

